.App {
  font-family: sans-serif;
  text-align: center;
}

.name {
  
}

body{ 
  margin: 0px;
  display: grid;
  place-content: center;
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
